In [72]:
import pandas as pd
import re

debugging = True

### Load Stata Source

In [1]:
stata_file = open( "data/QprExport-2018.06.29.stata", 'r' )
stata_list = [ line.strip() for line in stata_file.readlines() ]

In [2]:
stata_list[ 0 ]

'********************************************************************************'

### Load Pirl 'n' Parquet Names

In [91]:
pirl_to_parquet_df = pd.read_csv( "data/raw-pirl-to-parquet-names.csv", usecols=[ "PIRL_ElementNumber", "ParquetName" ] )
pirl_to_parquet_df[ "Pirl" ] = "PIRL" + pirl_to_parquet_df.PIRL_ElementNumber
pirl_to_parquet_df.drop( "PIRL_ElementNumber", inplace=True, axis=1 )
    
print( pirl_to_parquet_df.head() )

# get as dictionary: EZ!
pirl_dictionary = dict( zip( pirl_to_parquet_df.Pirl, pirl_to_parquet_df.ParquetName ) )

                      ParquetName     Pirl
0                       ObsNumber    PIRL0
1  UniqueIndividualIdentifierWIOA  PIRL100
2        StateCodeOfResidenceWIOA  PIRL101
3           CountyCodeOfResidence  PIRL102
4              ZipCodeOfResidence  PIRL103

In [38]:
pirl_dictionary[ "PIRL900" ]

'DateOfProgramEntryWIOA'

In [8]:
for i in range( 5 ):
    
    print( stata_list[ i ] )

********************************************************************************
*************************QPR TEST AGGREGATION RULES*****************************
********************************************************************************
cd "H:\Data Work\WIPS Test File"
local cdate: display %td-CY-m-D date(c(current_date),"DMY")

### Build Stop List of Translatable and Hideable Lines

In [167]:
hideable = [ "putexcel" ]
translatable = [ "local", "count", "replace" ]
translatable

['local', 'count', 'replace']

### Kill Multiple Space Chars

In [10]:
def kill_extra_spaces( raw_line ):
    
    # replace multiple spaces w/ just one
    return re.sub( ' +', ' ', raw_line )

kill_extra_spaces( "12  23  45               4 4 4 4 4        45 64 6  ASFD     " )

'12 23 45 4 4 4 4 4 45 64 6 ASFD '

### Normalize Parenthesis

In [133]:
def normalize_parenthesis( raw_line ):
    
    # add spaces between parens and chars
    raw_line = re.sub( r'\(', "( ", re.sub( r'\)', " )", raw_line ) )

    return kill_extra_spaces( raw_line )

normalize_parenthesis( "//         putexcel M21 = (r(N)),    sheet(       `report' ) foo(`bar')" )

"// putexcel M21 = ( r( N ) ), sheet( `report' ) foo( `bar' )"

### Normalize Plus Signs

In [12]:
def normalize_plus_signs( raw_line ):
    
    # add spaces between plus signs and chars
    raw_line = re.sub( r'\+', " + ", raw_line )

    return kill_extra_spaces( raw_line )

normalize_plus_signs( "count if ( ( ( PIRL211+PIRL212+PIRL213+PIRL214+PIRL215 )==2 ) | ( ( PIRL211+PIRL212+PIRL213+PIRL214+PIRL215 )==3 ) | ( ( PIRL211+PIRL212+PIRL213+PIRL214+PIRL215 )==4 ) | ( ( PIRL211+PIRL212+PIRL213+PIRL214+PIRL215 )==5 ) ) & `FS' & `total' & `prevpartdef'" )

"count if ( ( ( PIRL211 + PIRL212 + PIRL213 + PIRL214 + PIRL215 )==2 ) | ( ( PIRL211 + PIRL212 + PIRL213 + PIRL214 + PIRL215 )==3 ) | ( ( PIRL211 + PIRL212 + PIRL213 + PIRL214 + PIRL215 )==4 ) | ( ( PIRL211 + PIRL212 + PIRL213 + PIRL214 + PIRL215 )==5 ) ) & `FS' & `total' & `prevpartdef'"

### Normalize Equals Signs

In [14]:
def normalize_equals( raw_line ):
    
    # reduce and add spaces between equals signs and chars
    raw_line = re.sub( r'==', " = ", raw_line )

    return kill_extra_spaces( raw_line )

normalize_equals( "count if ( ( ( PIRL211 + PIRL212 + PIRL213 + PIRL214 + PIRL215 )==2 ) | ( ( PIRL211 + PIRL212 + PIRL213 + PIRL214 + PIRL215 )==3 ) | ( ( PIRL211 + PIRL212 + PIRL213 + PIRL214 + PIRL215 )==4 ) | ( ( PIRL211 + PIRL212 + PIRL213 + PIRL214 + PIRL215 )==5 ) ) & `FS' & `total' & `prevpartdef'" )

"count if ( ( ( PIRL211 + PIRL212 + PIRL213 + PIRL214 + PIRL215 ) = 2 ) | ( ( PIRL211 + PIRL212 + PIRL213 + PIRL214 + PIRL215 ) = 3 ) | ( ( PIRL211 + PIRL212 + PIRL213 + PIRL214 + PIRL215 ) = 4 ) | ( ( PIRL211 + PIRL212 + PIRL213 + PIRL214 + PIRL215 ) = 5 ) ) & `FS' & `total' & `prevpartdef'"

### Translate Conjunctions

In [15]:
def translate_conjuntions( raw_line ):
    
    # replace | with OR, add spaces between
    raw_line = re.sub( r'\|', " OR ", raw_line )
    
    # replace & with AND, add spaces between
    raw_line = re.sub( r'&', " AND ", raw_line )
    
    return kill_extra_spaces( raw_line )

translate_conjuntions( "replace age = age - 1 if (month(PIRL906) < month(PIRL200)) | (month(PIRL906) == month(PIRL200) & day(PIRL906) < day(PIRL200))" )

'replace age = age - 1 if (month(PIRL906) < month(PIRL200)) OR (month(PIRL906) == month(PIRL200) AND day(PIRL906) < day(PIRL200))'

### Translate Variable Declarations

In [16]:
def translate_variable_declarations( raw_line ):
    
    raw_line = re.sub( '^local ([A-Za-z0-9]{1,}) "', r'val \1 = "', raw_line )
    
    return kill_extra_spaces( raw_line )

translate_variable_declarations( 'local Adult "(inlist(PIRL903,1,2,3,4))"' )

'val Adult = "(inlist(PIRL903,1,2,3,4))"'

### Translate 'IN' clauses

In [129]:
def translate_in_clause( raw_line ):
    
    # WORKS: raw_line = re.sub( r'(PIRL[0-9]{1,3})', r'__1st__\1__1st__', raw_line )
    # WORKS: raw_line = re.sub( r'inlist\(', 'MATCH', raw_line )
    # WORKS: raw_line = re.sub( r'(inlist)', r'--YEP--\1--YEP--', raw_line )
    # WO$RKS: raw_line = re.sub( r'(inlist\() (PIRL[0-9]{1,3},)', r'1st:[\1] 2nd: [\2]', raw_line )
    raw_line = re.sub( r'(inlist\() (PIRL[0-9]{1,})', r'\2 IN (', raw_line )
    
    # TODO: call method that strips first char (",") from match string, instead of this kludgey workaround
    # SEE: Date Variable Declarations below for example
    # kludgey, but it works: replace " IN (," with " IN ( "
    raw_line = re.sub( r' IN \(,', r' IN ( ', raw_line )
    
    return kill_extra_spaces( raw_line )

translate_in_clause( "( inlist( PIRL903,1,2,3,4 ) )" )

'( PIRL903 IN ( 1,2,3,4 ) )'

### Translate Date Variable Declarations

In [19]:
# declare month abbreviations to numerics as a dictionary
months = {}
months[ "jan" ] = "01"
months[ "feb" ] = "02"
months[ "mar" ] = "03"
months[ "apr" ] = "04"
months[ "may" ] = "05"
months[ "jun" ] = "06"
months[ "jul" ] = "07"
months[ "aug" ] = "08"
months[ "sep" ] = "09"
months[ "oct" ] = "10"
months[ "nov" ] = "11"
months[ "dec" ] = "12"

def substitute_months( match ):
    
    return 'val {} = "{}-{}-{}"'.format( match.group( 1 ), match.group( 4 ), months[ match.group( 3 ) ], match.group( 2 ) )

def translate_date_vars( raw_line ):
    
    # This line calls a function w/ the match object.  Â¡Genial!
    # Here: https://stackoverflow.com/questions/17136127/calling-a-function-on-captured-group-in-re-sub
    raw_line = re.sub( r'local ([a-zA-Z0-9]{1,}) (\d\d)([a-zA-Z]{3})(\d\d\d\d)', substitute_months, raw_line )
    
    # Plain, w/o month abbreviation to numeric lookup
    #raw_line = re.sub( r'local ([a-zA-Z]{1,}) (\d\d)([a-zA-Z]{3})(\d\d\d\d)', r'var \1 = "\4-\3-\2"', raw_line )
    
    return kill_extra_spaces( raw_line )

translate_date_vars( "local begpart2date 01oct2017" )

'val begpart2date = "2017-10-01"'

### Translate "d( var )" to "to_date( '$date_var' )"

In [20]:
def translate_date_function( raw_line ):
    
    raw_line = re.sub( r" d\( `([A-Za-z0-9]{1,})' \) ", r" to_date( '$\1' ) ", raw_line )
    
    return kill_extra_spaces( raw_line )

translate_date_function( "( PIRL900 <= d( `qtrend' ) )" )

"( PIRL900 <= to_date( '$qtrend' ) )"

### Translate Inline Variables

In [28]:
def translate_inline_variable_insertions( raw_line ):
    
    raw_line = re.sub( r"\`([a-zA-Z0-9]{1,})'", r"$\1", raw_line )
                      
    return kill_extra_spaces( raw_line )

translate_inline_variable_insertions( "( `partsplit' AND ( PIRL900 <= to_date( '$qtrend' ) ) AND ( ( PIRL901 >= to_date( '$begpartdate' ) ) OR missing( PIRL901 ) ) )" )

"( $partsplit AND ( PIRL900 <= to_date( '$qtrend' ) ) AND ( ( PIRL901 >= to_date( '$begpartdate' ) ) OR missing( PIRL901 ) ) )"

### Remove References to "$FS AND "

In [31]:
def remove_ref_to_fs( raw_line ):
    
    raw_line = re.sub( "\$FS AND ", "", raw_line )
    
    return kill_extra_spaces( raw_line )

remove_ref_to_fs( "count if $FS AND $bcsvc AND $exitdef" )

'count if $bcsvc AND $exitdef'

### Create Stop List of _Proper_ Date Columns

In [44]:
proper_dates = [
    "DateOfProgramEntryWIOA",
    "DateOfProgramExitWIOA",
    "DateOfMostRecentMeasurableSkillGainsSkillsProgress",
    "DateOfMostRecentMeasurableSkillGainsTrainingMilest",
    "DateOfMostRecentMeasurableSkillGainsPostsecondaryT",
    "DateOfMostRecentMeasurableSkillGainsSecondaryTrans",
    "DateOfMostRecentMeasurableSkillGainsEducationalFun",
    "DateEnrolledInPostExitEducationOrTrainingProgramLe",
    "MostRecentDateReceivedBasicCareerServicesSelfServi",
    "DateOfMostRecentReportableIndividualContact",
    "DateAttainedRecognizedCredentialWIOA",
    "DateAttainedRecognizedCredential2",
    "DateAttainedRecognizedCredential3",
    "DateOfFirstWIOAYouthService",
    "CoveredPersonEntryDate",
    "DateOfBirthWIOA",
    "DateOfFirstIndividualizedCareerService",
    "DateOfFirstBasicCareerServiceSelfService1",
    "DateCompletedDuringProgramParticipationAnEducation",
    "DateEnrolledDuringProgramParticipationInAnEducatio"
]    

def is_proper_date( pirl_name ):
    
    parquet_name = pirl_dictionary[ pirl_name ]
    
    return parquet_name in proper_dates

print( is_proper_date( "PIRL900" ) ) # True
print( is_proper_date( "PIRL100" ) ) # False

True
False

### Translate !missing(...) According to Date Type: String vs Proper Date Column

In [77]:
def get_not_missing_clause( match, debugging=False ):
    
    """String or proper date?  Returns properly formatted SQL that queries for '!missing(...)'"""
    
    if  debugging:
        
        print( match.group( 1 ) )
        print( match.group( 2 ) )
        print( is_proper_date( match.group( 2 ) ) )
    
    if is_proper_date( match.group( 2 ) ):
        
        return "{} IS NOT NULL".format( match.group( 2 ) )
    
    else:
        
        return "length( {} ) > 0 AND {} != '$uNull'".format( match.group( 2 ), match.group( 2 ) )
    
def translate_not_missing( raw_line ):
    
    raw_line = re.sub( r'(!missing\() (PIRL[0-9]{1,}) \)', get_not_missing_clause, raw_line )
        
    return kill_extra_spaces( raw_line )

print( translate_not_missing( "( !missing( PIRL1001 ) AND missing( PIRL1200 ) AND PIRL1300 != 1 )" ) )

( length( PIRL1001 ) > 0 AND PIRL1001 != '$uNull' AND missing( PIRL1200 ) AND PIRL1300 != 1 )

In [92]:
def get_missing_clause( match ):
    
    """String or proper date?  Returns properly formatted SQL that queries for 'missing(...)'"""
    
    if  debugging:
        
        print( match.group( 1 ) )
        print( match.group( 2 ) )
        print( is_proper_date( match.group( 2 ) ) )
    
    if is_proper_date( match.group( 2 ) ):
        
        return "{} IS NULL".format( match.group( 2 ) )
    
    else:
        
        return "( length( {} ) = 0 OR {} != '$uNull' )".format( match.group( 2 ), match.group( 2 ) )
    
def translate_missing( raw_line ):
    
    raw_line = re.sub( r'(missing\() (PIRL[0-9]{1,}) \)', get_missing_clause, raw_line )
        
    return kill_extra_spaces( raw_line )

print( translate_missing( "( length( PIRL1001 ) > 0 AND PIRL1001 != '$uNull' AND missing( PIRL1200 ) AND PIRL1300 != 1 )" ) )

( length( PIRL1001 ) > 0 AND PIRL1001 != '$uNull' AND PIRL1200 IS NULL AND PIRL1300 != 1 )

### Translate PIRL to Parquet Names

In [96]:
def get_column_name( match ):
    
    #return "BINGO!"
    return pirl_dictionary[ match.group( 1 ) ]

def translate_pirl_to_parquet( raw_line ):
    
    return re.sub( r'(PIRL[0-9]{1,})', get_column_name, raw_line )
        
print( translate_pirl_to_parquet( "( length( PIRL1001 ) > 0 AND PIRL1001 != '$uNull' AND missing( PIRL1200 ) AND PIRL1300 != 1 )" ) )

( length( DateOfFirstBasicCareerServiceStaffAssisted ) > 0 AND DateOfFirstBasicCareerServiceStaffAssisted != '$uNull' AND missing( DateOfFirstIndividualizedCareerService ) AND ReceivedTrainingWIOA != 1 )

### Add Scala String Generation Prefix/Suffix

In [163]:
def add_string_generation( raw_line ):
    
    """Prepends scala's string generation prefix if a ref to a $variable is found"""
    
    # any string gen in effect?
    if "$" in raw_line:        
        
        # insert s""" between variable name and string...
        raw_line = re.sub( r'(val [A-Za-z0-9]{1,} =) (")', r'\1 s"""', raw_line )
        # ...append '""".stripMargin' to end of string
        return re.sub( r'([\"]{1,}$)', r' """', raw_line.strip() )
        
    else:

        return raw_line

add_string_generation( """val foo = "( $partsplit AND ( DateOfProgramEntryWIOA <= to_date( '$qtrend' ) ) AND ( ( DateOfProgramExitWIOA >= to_date( '$begpartdate' ) ) OR DateOfProgramExitWIOA IS NULL ) )" """ )

'val foo = s"""( $partsplit AND ( DateOfProgramEntryWIOA <= to_date( \'$qtrend\' ) ) AND ( ( DateOfProgramExitWIOA >= to_date( \'$begpartdate\' ) ) OR DateOfProgramExitWIOA IS NULL ) ) """'

### Translate "Count if" into SQL SELECT ...

In [160]:
query_string_id = 0

In [169]:
def get_unique_var_name( match ):
    
    return 'val query{} = s"""SELECT count( UniqueIndividualIdentifierWIOA ) as count FROM edrvs WHERE{} """'.format( query_string_id, match.group( 2 ) )

def translate_get_if( raw_line ):
    
    return re.sub( r'(count if)(.*)$', get_unique_var_name, raw_line )

translate_get_if( "count if $bcsvc AND $exitdef" )

'val query1521 = s"""SELECT count( UniqueIndividualIdentifierWIOA ) as count FROM edrvs WHERE $bcsvc AND $exitdef """'

### Wrap All Transformations in One Method

In [142]:
def apply_transformations( line ):
    
    line = normalize_parenthesis( line )
    line = normalize_plus_signs( line )
    line = normalize_equals( line )
    line = translate_conjuntions( line )
    line = translate_variable_declarations( line )
    line = translate_in_clause( line )
    line = translate_date_vars( line )
    line = translate_date_function( line )
    line = translate_inline_variable_insertions( line )
    line = remove_ref_to_fs( line )
    # Not missing needs to be run before missing, due to weak(er) regex boundaries
    line = translate_not_missing( line )
    line = translate_missing( line )
    line = translate_pirl_to_parquet( line )
    line = add_string_generation( line )
    line = translate_get_if( line )
    
    return line

### Test, One Line at a Time

In [132]:
apply_transformations( """local credden "(`partsplit' & !missing(PIRL900) & PIRL901 >= d(`beginq4date') & PIRL901 <= d(`endq4date') & ((inlist(PIRL1303,2,3,4,6,7,8,9,10) | inlist(PIRL1310,2,3,4,6,7,8,9,10) | inlist(PIRL1315,2,3,4,6,7,8,9,10)) | PIRL1332 == 1 | (PIRL408 == 0 & PIRL1401 == 1)) & PIRL923 == 0)"  """)

'val credden = s"""( $partsplit AND DateOfProgramEntryWIOA IS NOT NULL AND DateOfProgramExitWIOA >= to_date( \'$beginq4date\' ) AND DateOfProgramExitWIOA <= to_date( \'$endq4date\' ) AND ( ( TypeOfTrainingService1WIOA IN ( 2,3,4,6,7,8,9,10 ) OR TypeOfTrainingService2WIOA IN ( 2,3,4,6,7,8,9,10 ) OR TypeOfTrainingService3WIOA IN ( 2,3,4,6,7,8,9,10 ) ) OR ParticipatedInPostsecondaryEducationDuringProgramP = 1 OR ( HighestEducationalLevelCompletedAtProgramEntryWIOA = 0 AND EnrolledInSecondaryEducationProgramAtProgramEntryW = 1 ) ) AND OtherReasonsForExitWIOA = 0 ) """.stripMargin'

### Iterate Lines, Apply All Transformations

In [170]:
debugging = False

counter = 1

for line in stata_list:
    
    words = line.split( " " )
    if words[ 0 ] in translatable:
        
        # update query id
        query_string_id = counter
        line = apply_transformations( line )
        
        print( "")
        print( line )
        
    elif words[ 0 ] not in hideable:
        
        print( "// " + line )
        
    counter += 1

// ********************************************************************************
// *************************QPR TEST AGGREGATION RULES*****************************
// ********************************************************************************
// cd "H:\Data Work\WIPS Test File"

local cdate: display %td-CY-m-D date( c( current_date ),"DMY" )
// copy "QPR_Template.xlsx" "StataQPROutput`cdate'.xlsx", replace
// set more off
// ************FUNDING STREAMS*****************************************************

val Adult = "( AdultWIOA IN ( 1,2,3,4 ) )"

val DW = "( DislocatedWorkerWIOA IN ( 1,2,3,4 ) OR RapidResponseAdditionalAssistance = 1 )"

val WP = "( WagnerPeyserEmploymentServiceWIOA IN ( 1,2 ) )"

val Youth = "( YouthWIOA IN ( 1,2,3,4 ) )"
// ************PARTICIPANT AND REPORTABLE INDIVIDUAL SPLITS************************

val partsplit = "( AdultWIOA IN ( 1,2,3 ) OR DislocatedWorkerWIOA IN ( 1,2,3 ) OR WagnerPeyserEmploymentServiceWIOA IN ( 1 ) OR YouthWIOA IN ( 1,2,3 ) )"

val risplit = "( AdultWIOA IN ( 4 ) OR DislocatedWorkerWIOA IN ( 4 ) OR WagnerPeyserEmploymentServiceWIOA IN ( 2 ) OR YouthWIOA IN ( 4 ) )"
// ********Reporting Periods for Quarter Ending 12/31/17  ROLLING 4 QTRS************
// **Current Period**

val begpartdate = "2017-10-01"

val qtrend = "2018-09-30"

val begexitdate = "2017-07-01"

val endexitdate = "2018-06-30"

val beginq2date = "2016-10-01"

val endq2date = "2017-09-30"

val beginq4date = "2016-07-01"

val endq4date = "2016-03-31"
// **Previous Period**

val prevbegpartdate = "2017-07-01"

val prevqtrend = "2018-06-30"

val prevbegexitdate = "2017-04-01"

val prevendexitdate = "2018-03-31"

val prevbeginq2date = "2016-07-01"

val prevendq2date = "2017-06-30"

val prevbeginq4date = "2016-07-01"

val prevendq4date = "2016-12-31"
// ***********Participant, Exiter and Reportable Individual Defintitions***********

val partdef = s"""( $partsplit AND ( DateOfProgramEntryWIOA <= to_date( '$qtrend' ) ) AND ( ( DateOfProgramExitWIOA >= to_date( '$begpartdate' ) ) OR DateOfProgramExitWIOA IS NULL ) ) """

val prevpartdef = s"""( $partsplit AND ( DateOfProgramEntryWIOA <= to_date( '$prevqtrend' ) ) AND ( ( DateOfProgramExitWIOA >= to_date( '$prevbegpartdate' ) ) OR DateOfProgramExitWIOA IS NULL ) ) """

val exitdef = s"""( $partsplit AND ( DateOfProgramExitWIOA >= to_date( '$begexitdate' ) AND DateOfProgramExitWIOA <= to_date( '$endexitdate' ) AND DateOfProgramExitWIOA IS NOT NULL ) ) """

val prevexitdef = s"""( $partsplit AND ( DateOfProgramExitWIOA >= to_date( '$prevbegexitdate' ) AND DateOfProgramExitWIOA <= to_date( '$prevendexitdate' ) AND DateOfProgramExitWIOA IS NOT NULL ) ) """

val reptind = s"""( $risplit AND ( MostRecentDateReceivedBasicCareerServicesSelfServi IS NOT NULL AND MostRecentDateReceivedBasicCareerServicesSelfServi >= to_date( '$begpartdate' ) AND MostRecentDateReceivedBasicCareerServicesSelfServi <= to_date( '$qtrend' ) ) OR ( DateOfMostRecentReportableIndividualContact IS NOT NULL AND DateOfMostRecentReportableIndividualContact >= to_date( '$begpartdate' ) AND DateOfMostRecentReportableIndividualContact <= to_date( '$qtrend' ) ) ) """

val prevreptind = s"""( $risplit AND ( MostRecentDateReceivedBasicCareerServicesSelfServi IS NOT NULL AND MostRecentDateReceivedBasicCareerServicesSelfServi >= to_date( '$prevbegpartdate' ) AND MostRecentDateReceivedBasicCareerServicesSelfServi <= to_date( '$prevqtrend' ) ) OR ( DateOfMostRecentReportableIndividualContact IS NOT NULL AND DateOfMostRecentReportableIndividualContact >= to_date( '$prevbegpartdate' ) AND DateOfMostRecentReportableIndividualContact <= to_date( '$prevqtrend' ) ) ) """
// ****************Youth Participant and Exiter Defintitions***********************

val ythexitdef = s"""( $partsplit AND DateOfProgramExitWIOA >= to_date( '$begexitdate' ) AND DateOfProgramExitWIOA <= to_date( '$endexitdate' ) AND DateOfFirstWIOAYouthService IS NOT NULL ) """

val ythprevexitdef = s"""( $partsplit AND DateOfProgramExitWIOA >= to_date( '$prevbegexitdate' ) AND DateOfProgramExitWIOA <= to_date( '$prevendexitdate' ) AND DateOfFirstWIOAYouthService IS NOT NULL ) """

val ythpartdef = s"""( $partsplit AND DateOfProgramEntryWIOA <= to_date( '$qtrend' ) ) AND ( ( DateOfProgramExitWIOA >= to_date( '$begpartdate' ) ) OR DateOfProgramExitWIOA IS NULL ) """

val ythprevpartdef = s"""( $partsplit AND DateOfProgramEntryWIOA <= to_date( '$prevqtrend' ) ) AND ( ( DateOfProgramExitWIOA >= to_date( '$prevbegpartdate' ) ) OR DateOfProgramExitWIOA IS NULL ) """
// ******************Services Defintitions*****************************************

val bcsvc = s"""( length( DateOfFirstBasicCareerServiceStaffAssisted ) > 0 AND DateOfFirstBasicCareerServiceStaffAssisted != '$uNull' AND DateOfFirstIndividualizedCareerService IS NULL AND ReceivedTrainingWIOA != 1 ) """

val icsvc = "( DateOfFirstIndividualizedCareerService IS NOT NULL AND ReceivedTrainingWIOA != 1 )"

val tsvc = "( ReceivedTrainingWIOA = 1 )"

val total = s"""( length( DateOfFirstBasicCareerServiceStaffAssisted ) > 0 AND DateOfFirstBasicCareerServiceStaffAssisted != '$uNull' OR DateOfFirstIndividualizedCareerService IS NOT NULL OR ReceivedTrainingWIOA = 1 ) """
// ******************Youth Services Defintitions***********************************

val notoccsvc = "( DateOfFirstWIOAYouthService IS NOT NULL AND ReceivedTrainingWIOA != 1 )"

val occsvc = "( DateOfFirstWIOAYouthService IS NOT NULL AND ReceivedTrainingWIOA = 1 )"

val ythtotal = "( DateOfFirstWIOAYouthService IS NOT NULL )"
// *****************Performance Indicator Definitions******************************

val empq2den = s"""( $partsplit AND DateOfProgramEntryWIOA IS NOT NULL AND DateOfProgramExitWIOA IS NOT NULL AND DateOfProgramExitWIOA >= to_date( '$beginq2date' ) AND DateOfProgramExitWIOA <= to_date( '$endq2date' ) AND OtherReasonsForExitWIOA = 0 ) """

val empq2num = s"""( $empq2den AND EmployedIn2ndQuarterAfterExitQuarterWIOA > 0 AND EmployedIn2ndQuarterAfterExitQuarterWIOA < 9 ) """

val ythq2num = s"""( $empq2den AND ( ( EmployedIn2ndQuarterAfterExitQuarterWIOA > 0 AND EmployedIn2ndQuarterAfterExitQuarterWIOA < 9 ) OR ( Youth2ndQuarterPlacementTitleIWIOA > 0 AND length( Youth2ndQuarterPlacementTitleIWIOA ) > 0 AND Youth2ndQuarterPlacementTitleIWIOA != '$uNull' ) ) ) """

val empq4den = s"""( $partsplit AND DateOfProgramEntryWIOA IS NOT NULL AND DateOfProgramExitWIOA IS NOT NULL AND DateOfProgramExitWIOA >= to_date( '$beginq4date' ) AND DateOfProgramExitWIOA <= to_date( '$endq4date' ) AND OtherReasonsForExitWIOA = 0 ) """

val empq4num = s"""( $empq4den AND EmployedIn4thQuarterAfterExitQuarterWIOA > 0 AND EmployedIn4thQuarterAfterExitQuarterWIOA < 9 ) """

val ythq4num = s"""( $empq4den AND ( ( EmployedIn4thQuarterAfterExitQuarterWIOA > 0 AND EmployedIn4thQuarterAfterExitQuarterWIOA < 9 ) OR ( Youth4thQuarterPlacementTitleIWIOA > 0 AND length( Youth4thQuarterPlacementTitleIWIOA ) > 0 AND Youth4thQuarterPlacementTitleIWIOA != '$uNull' ) ) ) """

val meq2 = s"""( $partsplit AND Wages2NdQuarterAfterExitQuarterWIOA > 0 AND Wages2NdQuarterAfterExitQuarterWIOA < 999999.99 AND length( Wages2NdQuarterAfterExitQuarterWIOA ) > 0 AND Wages2NdQuarterAfterExitQuarterWIOA != '$uNull' AND DateOfProgramEntryWIOA IS NOT NULL AND DateOfProgramExitWIOA >= to_date( '$beginq2date' ) AND DateOfProgramExitWIOA <= to_date( '$endq2date' ) AND OtherReasonsForExitWIOA = 0 ) """

val credden = s"""( $partsplit AND DateOfProgramEntryWIOA IS NOT NULL AND DateOfProgramExitWIOA >= to_date( '$beginq4date' ) AND DateOfProgramExitWIOA <= to_date( '$endq4date' ) AND ( ( TypeOfTrainingService1WIOA IN ( 2,3,4,6,7,8,9,10 ) OR TypeOfTrainingService2WIOA IN ( 2,3,4,6,7,8,9,10 ) OR TypeOfTrainingService3WIOA IN ( 2,3,4,6,7,8,9,10 ) ) OR ParticipatedInPostsecondaryEducationDuringProgramP = 1 OR ( HighestEducationalLevelCompletedAtProgramEntryWIOA = 0 AND EnrolledInSecondaryEducationProgramAtProgramEntryW = 1 ) ) AND OtherReasonsForExitWIOA = 0 ) """

val crednum = s"""( $credden AND ( ( ( DateAttainedRecognizedCredentialWIOA IS NOT NULL AND ( DateAttainedRecognizedCredentialWIOA - DateOfProgramExitWIOA <= 365 ) AND TypeOfRecognizedCredentialWIOA IN ( 2,3,4,5,6,7 ) ) OR ( DateAttainedRecognizedCredential2 IS NOT NULL AND ( DateAttainedRecognizedCredential2 - DateOfProgramExitWIOA <= 365 ) AND TypeOfRecognizedCredential2 IN ( 2,3,4,5,6,7 ) ) OR ( DateAttainedRecognizedCredential3 IS NOT NULL AND ( DateAttainedRecognizedCredential3 - DateOfProgramExitWIOA <= 365 ) AND TypeOfRecognizedCredential3 IN ( 2,3,4,5,6,7 ) ) ) OR ( ( ( DateAttainedRecognizedCredentialWIOA IS NOT NULL AND ( DateAttainedRecognizedCredentialWIOA - DateOfProgramExitWIOA <= 365 ) AND TypeOfRecognizedCredentialWIOA IN ( 1 ) ) OR ( DateAttainedRecognizedCredential2 IS NOT NULL AND ( DateAttainedRecognizedCredential2 - DateOfProgramExitWIOA <= 365 ) AND TypeOfRecognizedCredential2 IN ( 1 ) ) OR ( DateAttainedRecognizedCredential3 IS NOT NULL AND ( DateAttainedRecognizedCredential3 - DateOfProgramExitWIOA <= 365 ) AND TypeOfRecognizedCredential3 IN ( 1 ) ) ) AND ( ( DateEnrolledInPostExitEducationOrTrainingProgramLe IS NOT NULL AND ( DateEnrolledInPostExitEducationOrTrainingProgramLe - DateOfProgramExitWIOA <= 365 ) ) OR ( EmployedIn1StQuarterAfterExitQuarterWIOA IN ( 1,2,3 ) ) OR ( EmployedIn2ndQuarterAfterExitQuarterWIOA IN ( 1,2,3 ) ) OR ( EmployedIn3rdQuarterAfterExitQuarterWIOA IN ( 1,2,3 ) ) OR ( EmployedIn4thQuarterAfterExitQuarterWIOA IN ( 1,2,3 ) ) ) ) ) ) """

val msgden = s"""( $partsplit AND DateOfProgramEntryWIOA IS NOT NULL AND DateOfProgramEntryWIOA <= to_date( '$qtrend' ) AND ( DateOfProgramExitWIOA IS NULL OR ( DateOfProgramExitWIOA >= to_date( '$begpartdate' ) AND DateOfProgramExitWIOA <= to_date( '$qtrend' ) ) ) AND DateEnrolledDuringProgramParticipationInAnEducatio IS NOT NULL AND ( DateCompletedDuringProgramParticipationAnEducation IS NULL OR ( DateCompletedDuringProgramParticipationAnEducation >= to_date( '$begpartdate' ) AND DateCompletedDuringProgramParticipationAnEducation <= to_date( '$qtrend' ) ) ) AND ( OtherReasonsForExitWIOA IN ( 0,7,. ) ) ) """

val msgnum = s"""( $msgden AND ( ( DateOfMostRecentMeasurableSkillGainsEducationalFun >= to_date( '$begpartdate' ) AND DateOfMostRecentMeasurableSkillGainsEducationalFun <= to_date( '$qtrend' ) ) OR ( ( DateAttainedRecognizedCredentialWIOA >= to_date( '$begpartdate' ) AND DateAttainedRecognizedCredentialWIOA <= to_date( '$qtrend' ) ) AND TypeOfRecognizedCredentialWIOA = 1 ) OR ( ( DateAttainedRecognizedCredential2 >= to_date( '$begpartdate' ) AND DateAttainedRecognizedCredential2 <= to_date( '$qtrend' ) ) AND TypeOfRecognizedCredential2 = 1 ) OR ( ( DateAttainedRecognizedCredential3 >= to_date( '$begpartdate' ) AND DateAttainedRecognizedCredential3 <= to_date( '$qtrend' ) ) AND TypeOfRecognizedCredential3 = 1 ) OR ( DateOfMostRecentMeasurableSkillGainsPostsecondaryT >= to_date( '$begpartdate' ) AND DateOfMostRecentMeasurableSkillGainsPostsecondaryT <= to_date( '$qtrend' ) ) OR ( DateOfMostRecentMeasurableSkillGainsSecondaryTrans >= to_date( '$begpartdate' ) AND DateOfMostRecentMeasurableSkillGainsSecondaryTrans <= to_date( '$qtrend' ) ) OR ( DateOfMostRecentMeasurableSkillGainsTrainingMilest >= to_date( '$begpartdate' ) AND DateOfMostRecentMeasurableSkillGainsTrainingMilest <= to_date( '$qtrend' ) ) OR ( DateOfMostRecentMeasurableSkillGainsSkillsProgress >= to_date( '$begpartdate' ) AND DateOfMostRecentMeasurableSkillGainsSkillsProgress <= to_date( '$qtrend' ) ) ) ) """
// **************Previous Period Performance Indicator Definitions*****************

val prevempq2den = s"""( $partsplit AND DateOfProgramEntryWIOA IS NOT NULL AND DateOfProgramExitWIOA IS NOT NULL AND DateOfProgramExitWIOA >= to_date( '$prevbeginq2date' ) AND DateOfProgramExitWIOA <= to_date( '$prevendq2date' ) AND OtherReasonsForExitWIOA = 0 ) """

val prevempq2num = s"""( $empq2den AND EmployedIn2ndQuarterAfterExitQuarterWIOA > 0 AND EmployedIn2ndQuarterAfterExitQuarterWIOA < 9 ) """

val prevythq2num = s"""( $empq2den AND ( ( EmployedIn2ndQuarterAfterExitQuarterWIOA > 0 AND EmployedIn2ndQuarterAfterExitQuarterWIOA < 9 ) OR ( Youth2ndQuarterPlacementTitleIWIOA > 0 AND length( Youth2ndQuarterPlacementTitleIWIOA ) > 0 AND Youth2ndQuarterPlacementTitleIWIOA != '$uNull' ) ) ) """

val prevempq4den = s"""( $partsplit AND DateOfProgramEntryWIOA IS NOT NULL AND DateOfProgramExitWIOA IS NOT NULL AND DateOfProgramExitWIOA >= to_date( '$prevbeginq4date' ) AND DateOfProgramExitWIOA <= to_date( '$prevendq4date' ) AND OtherReasonsForExitWIOA = 0 ) """

val prevempq4num = s"""( $empq4den AND EmployedIn4thQuarterAfterExitQuarterWIOA > 0 AND EmployedIn4thQuarterAfterExitQuarterWIOA < 9 ) """

val prevythq4num = s"""( $empq4den AND ( ( EmployedIn4thQuarterAfterExitQuarterWIOA > 0 AND EmployedIn4thQuarterAfterExitQuarterWIOA < 9 ) OR ( Youth4thQuarterPlacementTitleIWIOA > 0 AND length( Youth4thQuarterPlacementTitleIWIOA ) > 0 AND Youth4thQuarterPlacementTitleIWIOA != '$uNull' ) ) ) """

val prevmeq2 = s"""( $partsplit AND Wages2NdQuarterAfterExitQuarterWIOA > 0 AND Wages2NdQuarterAfterExitQuarterWIOA < 999999.99 AND length( Wages2NdQuarterAfterExitQuarterWIOA ) > 0 AND Wages2NdQuarterAfterExitQuarterWIOA != '$uNull' AND DateOfProgramEntryWIOA IS NOT NULL AND DateOfProgramExitWIOA >= to_date( '$prevbeginq2date' ) AND DateOfProgramExitWIOA <= to_date( '$prevendq2date' ) AND OtherReasonsForExitWIOA = 0 ) """

val prevcredden = s"""( $partsplit AND DateOfProgramEntryWIOA IS NOT NULL AND DateOfProgramExitWIOA >= to_date( '$prevbeginq4date' ) AND DateOfProgramExitWIOA <= to_date( '$prevendq4date' ) AND ( ( TypeOfTrainingService1WIOA IN ( 2,3,4,6,7,8,9,10 ) OR TypeOfTrainingService2WIOA IN ( 2,3,4,6,7,8,9,10 ) OR TypeOfTrainingService3WIOA IN ( 2,3,4,6,7,8,9,10 ) ) OR ParticipatedInPostsecondaryEducationDuringProgramP = 1 OR ( HighestEducationalLevelCompletedAtProgramEntryWIOA = 0 AND EnrolledInSecondaryEducationProgramAtProgramEntryW = 1 ) ) AND OtherReasonsForExitWIOA = 0 ) """

val prevcrednum = s"""( $credden AND ( ( ( DateAttainedRecognizedCredentialWIOA IS NOT NULL AND ( DateAttainedRecognizedCredentialWIOA - DateOfProgramExitWIOA <= 365 ) AND TypeOfRecognizedCredentialWIOA IN ( 2,3,4,5,6,7 ) ) OR ( DateAttainedRecognizedCredential2 IS NOT NULL AND ( DateAttainedRecognizedCredential2 - DateOfProgramExitWIOA <= 365 ) AND TypeOfRecognizedCredential2 IN ( 2,3,4,5,6,7 ) ) OR ( DateAttainedRecognizedCredential3 IS NOT NULL AND ( DateAttainedRecognizedCredential3 - DateOfProgramExitWIOA <= 365 ) AND TypeOfRecognizedCredential3 IN ( 2,3,4,5,6,7 ) ) ) OR ( ( ( DateAttainedRecognizedCredentialWIOA IS NOT NULL AND ( DateAttainedRecognizedCredentialWIOA - DateOfProgramExitWIOA <= 365 ) AND TypeOfRecognizedCredentialWIOA IN ( 1 ) ) OR ( DateAttainedRecognizedCredential2 IS NOT NULL AND ( DateAttainedRecognizedCredential2 - DateOfProgramExitWIOA <= 365 ) AND TypeOfRecognizedCredential2 IN ( 1 ) ) OR ( DateAttainedRecognizedCredential3 IS NOT NULL AND ( DateAttainedRecognizedCredential3 - DateOfProgramExitWIOA <= 365 ) AND TypeOfRecognizedCredential3 IN ( 1 ) ) ) AND ( ( DateEnrolledInPostExitEducationOrTrainingProgramLe IS NOT NULL AND ( DateEnrolledInPostExitEducationOrTrainingProgramLe - DateOfProgramExitWIOA <= 365 ) ) OR ( EmployedIn1StQuarterAfterExitQuarterWIOA IN ( 1,2,3 ) ) OR ( EmployedIn2ndQuarterAfterExitQuarterWIOA IN ( 1,2,3 ) ) OR ( EmployedIn3rdQuarterAfterExitQuarterWIOA IN ( 1,2,3 ) ) OR ( EmployedIn4thQuarterAfterExitQuarterWIOA IN ( 1,2,3 ) ) ) ) ) ) """

val prevmsgden = s"""( $partsplit AND DateOfProgramEntryWIOA IS NOT NULL AND DateOfProgramEntryWIOA <= to_date( '$prevqtrend' ) AND ( DateOfProgramExitWIOA IS NULL OR ( DateOfProgramExitWIOA >= to_date( '$prevbegpartdate' ) AND DateOfProgramExitWIOA <= to_date( '$prevqtrend' ) ) ) AND DateEnrolledDuringProgramParticipationInAnEducatio IS NOT NULL AND ( DateCompletedDuringProgramParticipationAnEducation IS NULL OR ( DateCompletedDuringProgramParticipationAnEducation >= to_date( '$prevbegpartdate' ) AND DateCompletedDuringProgramParticipationAnEducation <= to_date( '$prevqtrend' ) ) ) AND ( OtherReasonsForExitWIOA IN ( 0,7,. ) ) ) """

val prevmsgnum = s"""( $msgden AND ( ( DateOfMostRecentMeasurableSkillGainsEducationalFun >= to_date( '$prevbegpartdate' ) AND DateOfMostRecentMeasurableSkillGainsEducationalFun <= to_date( '$prevqtrend' ) ) OR ( ( DateAttainedRecognizedCredentialWIOA >= to_date( '$prevbegpartdate' ) AND DateAttainedRecognizedCredentialWIOA <= to_date( '$prevqtrend' ) ) AND TypeOfRecognizedCredentialWIOA = 1 ) OR ( ( DateAttainedRecognizedCredential2 >= to_date( '$prevbegpartdate' ) AND DateAttainedRecognizedCredential2 <= to_date( '$prevqtrend' ) ) AND TypeOfRecognizedCredential2 = 1 ) OR ( ( DateAttainedRecognizedCredential3 >= to_date( '$prevbegpartdate' ) AND DateAttainedRecognizedCredential3 <= to_date( '$prevqtrend' ) ) AND TypeOfRecognizedCredential3 = 1 ) OR ( DateOfMostRecentMeasurableSkillGainsPostsecondaryT >= to_date( '$prevbegpartdate' ) AND DateOfMostRecentMeasurableSkillGainsPostsecondaryT <= to_date( '$prevqtrend' ) ) OR ( DateOfMostRecentMeasurableSkillGainsSecondaryTrans >= to_date( '$prevbegpartdate' ) AND DateOfMostRecentMeasurableSkillGainsSecondaryTrans <= to_date( '$prevqtrend' ) ) OR ( DateOfMostRecentMeasurableSkillGainsTrainingMilest >= to_date( '$prevbegpartdate' ) AND DateOfMostRecentMeasurableSkillGainsTrainingMilest <= to_date( '$prevqtrend' ) ) OR ( DateOfMostRecentMeasurableSkillGainsSkillsProgress >= to_date( '$prevbegpartdate' ) AND DateOfMostRecentMeasurableSkillGainsSkillsProgress <= to_date( '$prevqtrend' ) ) ) ) """
// ********************************************************************************
//
// **Set up Age calcs
// capture noisily drop age
// gen age = year(PIRL900) - year(PIRL200)

replace age = age - 1 if ( month( DateOfProgramEntryWIOA ) < month( DateOfBirthWIOA ) ) OR ( month( DateOfProgramEntryWIOA ) = month( DateOfBirthWIOA ) AND day( DateOfProgramEntryWIOA ) < day( DateOfBirthWIOA ) )
// **
//
// *FS STORAGE: "(inlist(PIRL903,1,2,3,4))" "(inlist(PIRL904,1,2,3,4) | PIRL909 == 1)" "(inlist(PIRL918,1,2))" "(inlist(PIRL905,1,2,3,4))"
// foreach FS in "(inlist(PIRL903,1,2,3,4))" "(inlist(PIRL904,1,2,3,4) | PIRL909 == 1)" "(inlist(PIRL918,1,2))" "(inlist(PIRL905,1,2,3,4))" {
//
// **Name the excel sheet
// if "`FS'" == "`Adult'" {
// macro drop report

val report = "WIOA_Adult"
// display _newline
// display "**********Running " "`report'" " Report**********"
// display _newline
// }
// if "`FS'" == "`DW'" {
// macro drop report

val report = "WIOA_DW"
// display _newline
// display "**********Running " "`report'" " Report**********"
// display _newline
// }
// if "`FS'" == "`WP'" {
// macro drop report

val report = "Wagner-Peyser"
// display _newline
// display "**********Running " "`report'" " Report**********"
// display _newline
// }
// if "`FS'" == "`Youth'" {
// macro drop report

val report = "WIOA_Youth"
// display _newline
// display "**********Running " "`report'" " Report**********"
// display _newline
// }
// **Title the report by funding stream
//
// //////////////**********"Adult" QPR Specs********///////////////////////////////
//
// if "`FS'" != "`Youth'" {
//
// ***Section A - Summary Information**********************************************
//
// *Only Participants included in these counts*
//
// *A.1 Total Exiters*
// **Total Exiters -- Basic Career Services**

val query135 = s"""SELECT count( UniqueIndividualIdentifierWIOA ) as count FROM edrvs WHERE $bcsvc AND $exitdef """
//
// **Total Exiters -- Individualized Career Services**

val query139 = s"""SELECT count( UniqueIndividualIdentifierWIOA ) as count FROM edrvs WHERE $icsvc AND $exitdef """
//
// **Total Exiters -- Training Services**

val query143 = s"""SELECT count( UniqueIndividualIdentifierWIOA ) as count FROM edrvs WHERE $tsvc AND $exitdef """
//
// **Total Exiters -- Total Current Period**


In [22]:
foo = stata_list[ 0 ]
print( foo )

********************************************************************************